body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background: black;
    color: #ffffff;
    font-family: monospace;
    font-size: 14px;
}

header {
    background: #c9c9c9;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: center;
    font-family: monospace;
}

nav a {
    color: #363636;
    text-transform: uppercase;
    font-size: 14px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    color: #363636;
    text-transform: uppercase;
    font-size: 14px;
}

.user-form {
    width: 100%;
    text-align: center;

}

input {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

span a {
    color: #bababa;
    font-size: 14px;
}

button {
    font-family: monospace;
    font-size: 14px;
    padding: 3px
}

button:disabled,
button[disabled] {
    background-color: #717171;
    color: #e6e6e6;
}
